body {
    text-align: center;
    font-family: Arial, Helvetica, serif;
    background-color:white;
}

.title{
    text-transform: capitalize;
    color: white;
    background-color: orange;
    border-radius: 1rem;
}

.bg-orange{
    background-color: orange;
    color: white!important;
    text-align: center;
}

.bg-orange h2 {
    font-weight: bolder;
    padding-top: 30px;
}

.bg-white{
    background-color: white;
    color: dimgrey;
}

.bg-white h2{
    font-weight: bolder;
    color: orange;
}
.tx-orange{
    color: orange;
}

nav ul{
    list-style-type: none;
    color: black;
}

nav li{
    display:inline;
}

nav a:link, nav a:visited{
    color: black;
}

nav a:hover{
    color: orange!important;
}

.nav{
    position: relative;
    right: 19px;
}

.lasagna-list{
    list-style-image: url("images/lasagneicone2.png");
    text-align: center;
}

a:link{
    text-decoration: none;
    color: orange;
    font-weight: bold;
}

a:visited{
    text-decoration: none;
    color: inherit;
}

.button:link, .button:visited{
    color: white!important;
    background-color: orange;
}

ul{
    list-style-type: none;
}

.footerblack:link{
    color: black;
    font-weight: bold;
}

.footerblack:hover{
    color: orange;
}

.footerblack:visited{
    color: black;
}

.footerremblack:hover, .footerremblack:link, .footerremblack:visited{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

#block1{
    width: 1920px;
    height: 1080px;
}

#block2{
    width: 1920px;
    height: 2160px;
}

#blockmoreabout{
    width: 1920px;
    height: 1080px;
    padding-top: 30px;
}

#block4{
    width: 1920px;
    height: 1080;
}

#Tasty\ Stuff{
    width: 1920px;
    height: 1080px;
    background-color: orange;
}

#Meet\ the\ other\ me{
    width: 1920px;
    height: 1080px;
    padding-top: 30px;
}

.getintouch{
    position: fixed;
    bottom: 30px;
    left: 50px;
    text-align: left;
}

.backtotop{
    position: fixed;
    right: 50px;
    bottom: 50px;
}